<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles\styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>UCBvet</title>
    <link rel="icon" href="static\imagens\Logo.png" type="image/png">
</head>

<body>
    <main>
        <aside id="slide-bar">
            <div id="user-info">
                <i class="fa-regular fa-user"></i>
                <p id="user-name">{{ username }}</p> <!-- Nome de usuário -->
            </div>
            <button id="add-chat-button">Novo Chat</button>
             <!-- Seção fixa no final da barra lateral -->
             <div id="button-logout">
                <button id="logout-button">Sair</button> <!-- Botão de logout -->
            </div>
            <div id="chat-list">
                <!-- Container para os cards -->
                {% for chat in user_chats %}
                <div class="chat-card" data-chat-id="{{ chat[0] }}">
                    <div class="chat-info">
                        <input type="text" class="chat-name" value="{{ chat[1] }}" disabled>
                        <div class="chat-actions">
                            <button class="edit-button"><i class="fas fa-edit"></i></button>
                            <button class="share-button"><i class="fas fa-share"></i></button>
                            <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
           
        </aside>
        <div id="sidebar-toggle-button">
            <i id="sidebar-toggle-icon" class="fa-solid fa-chevron-right"></i>
        </div>
        <h3 id="title">Copiloto De Vendas</h3>
        <div id="background">
            <img src="static\imagens\Logo.png" alt="background" />
            <p id="background-text">UCBvet</p>
        </div>
        <div id="message-container">
            <!-- As mensagens serão adicionadas aqui -->
        </div>
        <div id="message-form">
            <input type="file" id="file-input" name="file" accept=".pdf" style="display: none;">
            <span id="file-span" class="fa-solid fa-paperclip"
            style="background-color:#1877F2;color:#fff;border:none;padding:10px 20px;border-radius:5px;font-size:1em;cursor:pointer;"></span>
            <div class="message-wrapper">
                <textarea id="message" rows="1" placeholder="Enviar Mensagem" maxlength="4000"></textarea>
                <button class="send-button"
                    style="background-color:#1877F2;color:#fff;border:none;padding:10px 20px;border-radius:5px;font-size:1em;cursor:pointer;"
                    onclick="sendUserMessage()">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </div>
        </div>

    </main>
    <script src="static/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>

</html>