<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login - UCBvet</title>
    <link rel="icon" href="static/imagens/Logo.png" type="image/png">
</head>

<body>
    <div id="login-container">
        <img src="static/imagens/Logo.png" alt="logo" id="login-logo">
        <h2>Entre na sua conta</h2>
        <form id="login-form">
            <div class="input-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
            <br>
            <a href="/cadastro">Ainda não tem uma conta? Cadastre-se aqui!</a>
        </form>
    </div>
    <script src="static/scripts/login.js"></script>
</body>

</html>
